.large-hero{
	position:relative; 
}
/* position center of hero image */
.large-hero__text-content{
	position:absolute; /* position text on top of hero image */
	left:0;
	/* center horizontially*/
	width:100%;
	text-align: center;
	/* center vertically */
	top:50%; /* moves it closesr to center but needs to move up about 1/2 of its own height */
	transform: translateY(-50%); /* translateY moves element vertically relative to itself 100% = pull down by its own height, -100 pulls up */
}
